/* 논리속성과 논리값 */
/* width, height */

/* width에 대항되는 속성 > inline-size */
/* height에 대항하는 속성 > block-size */
.like {
  background: #ffc;
  inline-size: 200px;
  block-size: 100px;
}

/* margin, padding */
.lion {
  background: #fcf;
  padding-block: 20px;
  margin-inline: 20px;
}

/* position: top, right, bottom, left */
.bootcamp {
  background: #cff;

  position: relative;
  inline-size: 300px;
  block-size: 100px;

  strong {
    position: absolute;
    background: #fcf;
    /* inset-inline-start: 0;
    inset-inline-end: 0;
    inset-block-start: 0;
    inset-block-end: 0; */

    inset: 0;
  }
}

.frontend {
  background: #cff;
  strong {
    background: yellowgreen;
    float: inline-end;
  }
}

.euid {
  padding: 10px;
  background: salmon;
  border-block-end: 2px solid blue;
}
