/* 아바타 컴포넌트 */

/* BFC : position 값이 부여될 경우 block 속성으로 변경 */
.avatar {
  --avatar-size: 64px;
  --state-size: 16px;
  --disable-color: #dbdbdb;
  --active-color: #4bfe88;
  --border-color: #fff;

  width: var(--avatar-size);
  height: var(--avatar-size);
  position: relative;

  img {
    border-radius: 50%;
    width: 100%;
    height: 100%;
  }

  /* .is-online {
    background: var(--active-color) !important;
  } */

  .avatar-state {
    width: calc(var(--state-size) / var(--avatar-size) * 100%);
    aspect-ratio: 1/1;
    background: var(--disable-color);
    border-radius: 50%;
    position: absolute;
    right: 0;
    bottom: 0;
    border: 2px solid var(--border-color);

    &.is-online {
      background: var(--active-color);
    }
  }
}
